int choice = NSRunAlertPanel(@"<+Something important!+>", @"<+Something important just happend, and now I need to ask you, do you want to continue?}", @"<+Continue+>", @"<+Cancel+>", nil);
if(choice == NSAlertDefaultReturn) // "<+Continue+>"
{
    <++>;
}
else if(choice == NSAlertAlternateReturn) // "<+Cancel+>"
{

}
