class <+Modelname+>(models.Model):
    <+"""<+(Modelname description)+>"""+>
    <++>

    def __unicode__(self):
        return <+u<+"<+Modelname+>"+>+>

    class Admin:
        list_display = ('',)
        search_fields = ('',)
